// .top-screen{
//     background-image: url("../../images/dentist.svg");
//     height: 100%;
//     background-size: cover;
// }

 .home{
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 30px;
    

&__title{
    max-width: 800px;
    font-size: 4.8em;
    color: rgba(34, 34, 34, 1);
    margin: 0;
    padding: 0 0 26px 0;
}

&__description{
    max-width: 530px;
    color: rgba(34, 34, 34, 1);
    padding-bottom: 66px;
}

&__link{
    background-color: rgba(29, 121, 228, 1);
    padding: 16px 32px;
    border-radius: 60px;
    color: rgba(34, 34, 34, 1);
}
    
}